configuration {
    /* Modes */
    modes: [ "run", "filebrowser", "drun", "ssh", "window", "combi" ];
    combi-modes: [ "drun", "window", "ssh" ];

    font: "FiraCode Nerd Font 16";
    show-icons: true;
    icon-theme: "Papirus";

    terminal: "alacritty";
}
